@model Dms.Product.Base.Model.mbc_dv_movie

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>mbc_dv_movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MediaType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MediaType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TagTypes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TagTypes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AreaType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AreaType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExtendType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExtendType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticulationType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticulationType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VipType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VipType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FromType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CDATE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CDATE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UDATE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UDATE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ISENBLED)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ISENBLED)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
