@model IEnumerable<Dms.Product.Base.Model.mbc_dv_movie>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<a asp-action="Create" class="btn btn-primary">新增监控</a> 	<a asp-action="Monitor" asp-controller="Monitor" class="btn btn-primary">实时监控</a>

			</div>
			<div class="x_content">

				<table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>
								@Html.DisplayNameFor(model => model.Name)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.MediaType)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.TagTypes)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.AreaType)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.ExtendType)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.ArticulationType)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Image)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.VipType)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.FromType)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.OrderNum)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.PlayCount)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.Score)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.CDATE)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.UDATE)
							</th>
							<th>
								@Html.DisplayNameFor(model => model.ISENBLED)
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Name)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.MediaType)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.TagTypes)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.AreaType)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.ExtendType)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.ArticulationType)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Image)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.VipType)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.FromType)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.OrderNum)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.PlayCount)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Score)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.CDATE)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.UDATE)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.ISENBLED)
								</td>
								<td>
									<a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
									<a asp-action="Details" asp-route-id="@item.ID">Details</a> |
									<a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
								</td>
							</tr>
						}
					</tbody>
				</table>

			</div>
		</div>
	</div>
</div>


